$robo: 'Roboto Slab', serif;
$lato: 'Lato', sans-serif;
$wht: rgba(255, 255, 255, 1);
$grad: linear-gradient(180deg, #BC69FF 0%, #8D20E2 100%);
$txt:#45408C;
$bck:#FFEEC2;
$btn:#bc85fc;
$red:#FE3535;
